@model IEnumerable<LAB5AFront.Models.Book>

@{
    ViewData["Title"] = "Zbiór książek";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Dodaj nową pozycję</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Autor(Autorzy)
            </th>
            <th>
                Opis
            </th>
            <th>
                Gatunek
            </th>
            <th>
                Liczba stron
            </th>
            <th>
                Data wydania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @foreach (var itemAuthor in item.Authors) {
                        <a asp-action="Details" asp-controller="Authors" asp-route-id="@itemAuthor.Id">@(itemAuthor.Name + " " + itemAuthor.Surname + "\n")</a>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pagesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                <a asp-action="BookAuthors" asp-controller="Authors" asp-route-id="@item.Id">Pokaż autorów</a>
            </td>
        </tr>
}
    </tbody>
</table>
